/* Estilos para index.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 30px;
  }
  
  h1 {
    color: #0044cc;
  }
  
  a {
    color: #006600;
    text-decoration: none;
  }
  
  /* Estilos para formulario.html */
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 15px;
  }
  
  .creditos {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  